<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
</head>
<body>
<form id="form" action="http://localhost:3000/upload/file" method="post" enctype="multipart/form-data">
    <input type="text" name="userName" placeholder="Name"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="file" name="file"><br>
    <input type="file" name="flowChart"><br>
</form>
<div>
    <button type="button" id="sub-form">提交</button>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#sub-form').click(subForm);
    });

    /**
     * 提交
     */
    function subForm() {
        console.log('subForm.');
        var userName = $('[name="userName"]').val();
        var password = $('[name="password"]').val();

        console.log(userName);
        console.log(password);

        $('#form').submit();
    }
</script>
</body>
</html>